<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img src="../assets/logo-sogetilabs.png" width="35%">
</div>

<h2>Test sans livraison continue</h2>

<div class="conteneurPercept">
  <div class="wrapper">
    <div class="container" id="c0">
      <div class="story" id="s0">
        <div class="info">
          <h3>Innovation</h3>
          <p>Repondre aux besoins innoncants des client de SOGETI.</p>
          <p>Créer un catalogue de nos compétences sur les sujet innovants.</p>
        </div>
      </div>
    </div>
  </div>
    
  <div class="wrapper">
    <div class="container" id="c1">
      <div class="story" id="s1">
        <div class="info">
          <h3>Veille</h3>
          <p>Gagner en légitimité et reconnaissance technique.</p>
          <p>Devenir un acteur / prescripteur majeur de l'écosystème IT.</p></div>
      </div>
    </div>
  </div>
    <div class="wrapper">
    <div class="container" id="c2">
      <div class="story" id="s2">
        <div class="info">
          <h3>Formation</h3>
          <p>Développer les compétences de nos collaborateurs.</p>
          <p>Faire émerger de nouvelles compétences chez nos collaborateurs.</p></div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
